<!-- EL HEADER DE ARRIBA-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <!-- <a class="navbar-brand" href="#"><img src="../assets/images/logo-icon.png" alt="Home" /> <img src="../assets/images/logo-text.png" alt="Home" /></a> -->
    <a class="navbar-brand" href="#"><img src="../../../assets/images/logo-dentalbo3.png" alt="Home" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#" routerLink="/dentalBo_web">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#" routerLink="/chat">Agendar Primera Cita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="#" routerLink="/login">Iniciar sesion</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<!-- <app-login></app-login> -->

<!--#########-LA IMAGEN -########3-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/dentalBoWeb.png" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
<br>
<!--######-ABAJO DE LA IAGEN-########-->

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img"> 
                    <img src="../../../assets/images/dentalBoWebdos.jpg" class="img-fluid" alt="">
                    <!-- <img src="ing/about. Jp" alt="" closs="ing-Fluid">  -->
                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5"> 

                <div class="about-text"> 

                    <h2>ke Provide Best Quality<br> Services Everc</h2> 

                    <p>, ipsum dolor sit amet consectetur adipisicing elit. A iusto, distinctio 

                    dolorenque porro harua odit 11lun deleniti facere molestias sequi sapiente ipsum modi

                    Fi Sts [HTD en FED RT EEE or ll Br ibn Cr gis 

                    adores quasi varitatis teapora comodi. Ren quae unde alias quis nacessitatibus iste

                    fugiat laboriosan!</p> 

                    <!-- <a href=""></a> -->

                </div> 
            </div> 
        </div>
    <div> 
